* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary: #2E6045;
  --secondary: #5E8C61;
  --third: #cc6647;
  --fourth: #F5F2E7;
  --fifth: #908075;
  --sixth: #54222a;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: var(--fourth);
}

/* INDEX */

/* Header */

header {
  background-color: var(--fourth);
  padding: 15px 20px;
}

.logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  /*añade separación entre elementos */
}


.logo {
  width: 60px;
  height: auto;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

nav h1 {
  font-size: 4rem;
  color: var(--sixth);
  text-shadow: 0 0 5px var(--third);
}

nav .drawer {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  margin-left: auto;
  color: var(--fourth);
}

#checkbox {
  display: none;
  /* oculta el checkbox*/
}

.dropmenu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  gap: 15px;
}

.dropmenu li {
  position: relative;
  margin-bottom: 10px;
}

.dropmenu>li>a {
  padding: 15px 25px;
  background-color: var(--secondary);
  color: var(--fourth);
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1rem;
}


.dropmenu>li>a:hover {
  background-color: var(--third);
}


.dropmenu a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 8px;
}

.dropmenu li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--secondary);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  min-width: 180px;
  margin-top: 2px;
  /* Espacio entre menú principal y submenú */
}

.dropmenu li:hover ul {
  display: block;
}

.dropmenu li ul li a {
  padding: 10px;
  display: block;
  color: var(--fourth);
  transition: 0.3s;
}

.dropmenu li ul li a:hover {
  background-color: var(--third);
}

/* Contenido*/

main {
  padding: 20px;
  background-color: var(--fourth);
  min-height: 300px;
  color: var(--fifth);
}

.contenido-principal {
  display: flex;
  gap: 20px;
  align-items: stretch;
  /* clave para igualar alturas */
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.casa-y-comentarios {
  flex: 1 1 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imagen-casa {
  max-width: 100%;
}

.imagen-casa img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: block;
}


.comentarios {
  background-color: var(--secondary);
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}


.comentarios h2 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 10px;
  color: var(--sixth);
  font-size: 1.5rem;
}

/* Tarjetas flip */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 180px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  box-shadow: 0 0 10px var(--third);
  text-align: center;
}

.flip-card-front {
  background-color: var(--primary);
  color: var(--fourth);
}

.flip-card-back {
  background-color: var(--sixth);
  color: var(--fourth);
  font-weight: bold;
  transform: rotateY(180deg);
  font-style: normal;
}


aside.noticias {
  flex: 1 1 30%;
  background-color: var(--secondary);
  color: var(--fourth);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.noticias h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: var(--sixth);
  text-shadow: 0 0 5px var(--fourth);

}

.noticias ul li {
  background-color: var(--primary);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-size: 0.95rem;
  line-height: 1.4;
}

.destacado {
  font-weight: bold;
  color: var(--third);
  font-size: 1rem;
  text-shadow: 0 0 5px var(--sixth);
}


.noticias ul li i {
  font-size: 20px;
  margin-right: 8px;
  color: var(--fifth);
}

.copyright p {
  color: var(--fifth);
  text-align: center;
  font-style: italic;
  margin-left: 80px;
  margin-top: 10px;
  font-size: 0.9rem;
}

/* Footer */
footer {
  background-color: var(--secondary);
  padding: 20px;
  text-align: center;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

footer a {
  font-size: 0.9rem;
  color: var(--fourth);
  transition: 0.3s;
}

footer a:hover {
  color: var(--third);
}


/* RESERVA */

/*Formulario de reserva */
main.formulario {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--primary);
  color: var(--fourth);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

main.formulario h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--fourth);
}

main.formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main.formulario label {
  font-weight: bold;
  color: var(--third);
  text-shadow: 0 0 5px var(--sixth);
}

main.formulario input,
main.formulario textarea,
main.formulario select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
}

main.formulario button {
  padding: 12px;
  background-color: var(--third);
  color: var(--fourth);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  margin-top: 20px;
}

main.formulario button:hover {
  background-color: var(--sixth);
}


.contenido-reserva {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Con esto ajustamos los tamaños para poner el form y el aside uno al lado del otro*/
.contenido-reserva form {
  flex: 1 1 50%;
  min-width: 350px;
}

.contenido-reserva aside {
  flex: 1 1 45%;
  min-width: 350px;
}

/* Galería de habitaciones */


.room {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  color: var(--fourth);
  margin-top: 60px;
}

.room h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.3rem;
  color: var(--fourth);
}

.room input[type="radio"] {
  display: none;
}

.room .contenedor-slides {
  width: 100%;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
}

.room .slides {
  display: flex;
  transition: 0.5s;
  width: 200%;
}

.room .slide {
  width: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.room .slide img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.room .navegacion {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.room .boton {
  width: 15px;
  height: 15px;
  background-color: var(--fourth);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.room .boton:hover {
  background-color: var(--third);
}

/* Movimiento de las imágenes de habitaciones */
.slider-wrapper #sinbalcon1:checked~.contenedor-slides .slides {
  transform: translateX(0%);
}

.slider-wrapper #sinbalcon2:checked~.contenedor-slides .slides {
  transform: translateX(-50%);
}

.slider-wrapper #balcon1:checked~.contenedor-slides .slides {
  transform: translateX(0%);
}

.slider-wrapper #balcon2:checked~.contenedor-slides .slides {
  transform: translateX(-50%);
}


/* CONTACTO */

main.formulario-contacto {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--fifth);
}

section.contacto {
  flex: 1 1 60%;
  background-color: var(--primary);
  padding: 25px;
  border-radius: 10px;
  color: var(--fourth);
}

section.contacto h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}

section.contacto label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: var(--third);
  text-shadow: 0 0 5px var(--sixth);
}

section.contacto input,
section.contacto select,
section.contacto textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: 1rem;
}

.viaje {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
}

.checkboxes {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
}

.checkboxes label {
  white-space: nowrap;
  /* Evita que el texto se divida y ocupe dos lineas*/
}

section.contacto button {
  background-color: var(--third);
  color: var(--fourth);
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

section.contacto button:hover {
  background-color: var(--sixth);
}

aside.info-contacto {
  flex: 1 1 35%;
  background-color: var(--secondary);
  color: var(--fourth);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

aside.info-contacto h2 {
  margin-bottom: 20px;
  padding-top: 30px;
  font-size: 1.5rem;
  text-shadow: 0 0 5px var(--sixth);
}

aside.info-contacto ul {
  list-style: none;
  padding: 0;
}

aside.info-contacto li {
  margin-bottom: 15px;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 10px;
}


/* UBICACIÓN */

main.ubicacion {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--fourth);
}

.contenido-ubicacion {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.mapa {
  flex: 1 1 60%;
  /*para ocupar el 60% del espacio del contenedor*/
  min-width: 400px;
  background-color: var(--secondary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.mapa h2,
.como-llegar h2 {
  font-size: 1.8rem;
  color: var(--sixth);
  text-shadow: 0 0 5px var(--fourth);
  margin-top: 10px;
  text-align: center;
}

.mapa p {
  color: var(--fourth);
  text-align: center;
  font-weight: bold;
  padding: 15px;

}

.mapa iframe {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.como-llegar {
  flex: 1 1 30%;
  min-width: 300px;
  background-color: var(--third);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}


.como-llegar ul {
  list-style-type: none;
  padding-left: 15px;
  line-height: 1.5;
}

.como-llegar li {
  font-size: 0.9rem;
  color: var(--sixth);
  margin: 20px 0;
}

.como-llegar li p {
  font-weight: bold;
  color: var(--primary);
  font-size: 1rem;
}

.como-llegar i {
  margin-right: 8px;
}


/*******Alojamiento******/
.alojamiento {
  display: flex;
  flex-wrap: wrap;
  /* Permite que el h1 esté en una línea aparte */
  align-items: flex-start;
  /*Evita que el aside se estire en altura */
  width: 80%;
  margin: auto;
  background-color: var(--primary);
  color: var(--fourth);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

.alojamiento h1 {
  width: 100%;
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--fourth);
  text-align: center;
}

/*Areas comunes*/
.areas-comunes {
  flex: 1 1 65%;
  padding: 40px;
  padding-left: 10px;
  text-align: justify;
}

.areas-comunes h2 {
  padding-top: 10px;
}

.areas-comunes img {
  width: 70%;
  height: auto;
  display: inline-block;
}

/*Habitaciones (aside)*/
.habitaciones-alojamiento {
  flex: 1 1 35%;
  padding: 20px;
  background-color: var(--secondary);
  color: var(--fourth);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
  text-align: justify;

}

.habitaciones-alojamiento h2,
h3 {
  color: var(--sixth);
}

.habitaciones-alojamiento div {
  padding-top: 10px;
}

.boton-reserva {
  background-color: var(--third);
  color: var(--fourth);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  transition: 0.3s;
}

.boton-reserva:hover {
  background-color: var(--fifth);
  color: var(--fourth);
}

/*****Actividades******/
.actividades {
  display: flex;
  flex-wrap: wrap;
  /* Permite que el h1 esté en una línea aparte */
  align-items: flex-start;
  /*Evita que el aside se estire en altura */
  width: 80%;
  margin: auto;
  background-color: var(--third);
  color: var(--fourth);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(70, 36, 36, 0.8);

}

.actividades h1 {
  width: 100%;
  margin: 0 0 1rem 0;
  ;
  font-size: 2rem;
  color: var(--fourth);
  text-align: center;
}

/*Actividades*/
.contenido-actividades {
  flex: 1 1 65%;
  padding: 20px;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.contenido-actividades div {
  background-color: #2E6045;
  padding: 30px;
  border-radius: 18%;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: justify;

}

.contenido-actividades h2 {
  padding-top: 10px;

}

.contenido-actividades img {
  width: 300px;
  height: auto;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(70, 36, 36, 0.8);
}


/*Contactos importantes (aside)*/
.contacto-actividades {
  flex: 1 1 35%;
  padding: 20px;

  background-color: var(--secondary);
  color: var(--fourth);
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
  text-align: justify;

}

.contacto-actividades h3 {
  font-size: 25px;
}

.contacto-actividades {
  font-size: 15px;
  color: var(--fourth);

}

.contacto-actividades a {
  text-decoration: none;
  color: var(--fourth);
}

.contacto-consulta {
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
}

/* QUIENES SOMOS */

/* Nuestra Historia */

.historia {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  background-color: var(--primary);
  border-radius: 10px;
}

.titulo_historia {
  width: 100%;
  text-align: center;
  color: var(--fourth);
  font-family: serif;
  font-style: italic;
  font-size: 1.5rem;
}

.imagen-historia img {
  height: auto;
  max-width: 100%;
  border-radius: 10px;
}

.texto-historia {
  flex: 2;
  color: var(--fourth);
  font-family: sans-serif;
  font-size: 1.2rem;
  text-align: justify;
}

.calificaciones {
  flex: 1;
  background-color: var(--fourth);
  padding: 1rem;
  border-radius: 8px;
  font-family: serif;
  color: var(--primary);
}

.calificaciones h3 {
  color: var(--sixth);
  margin-bottom: 15px;
}

.estrella-oficial,
.estrella-verde {
  margin-bottom: 20px;
  font-size: 1rem;
}

.estrella-dorada {
  color: gold;
}

.hoja-verde {
  color: #2E6045;
}


.descripcion-eco {
  font-style: italic;
  color: var(--fifth);
}

/* --- Responsive Design --- */
@media screen and (max-width: 768px) {
  .historia {
    flex-direction: column;
    padding: 1rem;
  }

  .texto-historia,
  .calificaciones {
    width: 100%;
  }

  .titulo_historia {
    font-size: 1.5rem;
  }
}

/* El entorno */

.entorno-contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6rem;
  max-width: 1500px;
  width: 100%;
  box-sizing: border-box;

}

.contenido-entorno {
  flex: 2 1 700px;
  min-width: 0;
}

#titulo_entorno h2 {
  text-align: center;
  font-family: serif;
  color: var(--primary);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.imagen-elizondo-y-arizkun,
.imagen-castillo-amaiur {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.imagen-castillo-amaiur {
  float: right;
  width: 200px;
  margin-right: initial;
  margin-left: 20px;
}

.parrafo-entorno {
  text-align: justify;
  line-height: 1.75;
  background-color: var(--primary);
  color: var(--fourth);
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.parrafo-entorno p {
  padding-bottom: 1rem;
}

.puntos-de-interes {
  flex: 1 1 320px;
  margin-left: 60px;
}

.puntos-de-interes h3 {
  margin-bottom: 1rem;
  margin-left: 7%;
  color: var(--third);
}

.flip-card.entorno {
  width: 100%;
  max-width: 280px;
  height: 200px;
  perspective: 1000px;
  margin-bottom: 30px;
  position: relative;
}

.flip-card-front.entorno-tarjetas h4 {
  margin-bottom: 1rem;
  color: var(--sixth);
}

.flip-card-front.entorno-tarjetas {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--secondary);
  color: var(--fourth);
  display: flex;
}

.flip-card-back.entorno-img-ajustada {
  padding: 0;
  background-color: transparent;
  display: flex;
  position: absolute;
}

.flip-card-back.entorno-img-ajustada img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* --- Responsive Design --- */
@media screen and (max-width: 768px) {
  .flip-card {
    width: 90%;
    height: 220px;
  }

  #titulo_entorno h2 {
    font-size: 1.5rem;
  }

  .puntos-de-interes h3 {
    font-size: 1.5rem;
  }
}